
@{
    ViewBag.Title = "Reciept";
}

<h2>Reciept</h2>

<div>
    <b>Message:</b> @ViewBag.message<br />
    <b>Remita Retrieval Response:</b> @ViewBag.rrr<br />
    <b>Status Code:</b> @ViewBag.statuscode<br />
    <b>Order ID: </b> @ViewBag.orderid<br/>
    <b>Merchant ID: </b> @ViewBag.merchantid<br />
    <b>Transaction Time:  </b>@ViewBag.transactionTime<br />

</div>